/*************************
ALL PAGES
*************************/
body{
  background-color: silver;
}

.headerlogo img{
  width: 150px;
}

#headername{
  font-size: 150px;

}

.searchbox{
  float: right;
  width: 200px
}

.backgroundgradient a,
.navbar-background a {
  font-size: 36px;
  color: white;
  text-decoration: none;
}

.backgroundgradient a:hover,
.navbar-background a:hover {
  color: gold;
}

.backgroundgradient a,
.navbar-background a {
  font-size: 36px;
  color: white;
  text-decoration: none;
}

.backgroundgradient li,
.navbar-background li {
  list-style: none;
  padding: 20px;
  display:inline-block;
}

nav {
  text-align: center;
  background-color: black;
}

footer {
text-align: center;
color: white;
background-color: black;
}

/*************************
INDEX PAGE
*************************/
#welcometext div {
  text-align: center;
  font-size: 92px;
}

#welcometext p  {
  column-count: 2;
  font-size: 24px;
}


/*************************
ROBOT PAGE
*************************/
fieldset {
  border: none;
}

form {
font-family: cursive;
}

form legend {
  font-size: 48px;
}

form p {
  font-size: 24px;
  text-align: center;
}





/*************************
HARDWARE PAGE
*************************/
/*#i3:hover, #i4:hover,#i7:hover {
  background-color: pink;
}*/


/*************************
CONTACT PAGE
*************************/
#welcomeimage img {
  width: 400px;
}

#contactForm fieldset,
#contactForm legend {
  background-color: darkgray;
  color: white;
  text-align: center;
  text-shadow: 4px 4px 10px red;
}

/*#contactForm input:focus,
#contactForm textarea:focus {
  background-color: pink;
}*/

/*************************
ABOUT PAGE
*************************/
#welcomeimage {
  text-align: center;
}

#welcomeimage img{
  width: 1000px;
  height: 850px;
}

fieldset legend {
  font-size: 90px;
  text-align: center;
}

fieldset h5{
  font-size: 48px;
  text-align: center;
}
